body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20 0;
}

#controls {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center; /* Centers the content */
    padding: 10px;      /* Adds space inside the footer */
    color: #333;        /* Text color */
    position: fixed;    /* Sticks the footer to the bottom of the page */
    bottom: 0;          /* Position at the very bottom */
    left: 0;            /* Align to the left */
    width: 100%;        /* Make it span the entire width of the page */
    font-size: 14px;    /* Adjust font size */
}

#calculator {
    width: 80%; /* Full width of the container */
    height: 66vh; /* 2/3 of the viewport height */
    margin: auto; /* Center it horizontally if needed */
    border: 1px solid #ddd; /* Optional border */
    box-sizing: border-box; /* Ensures padding/border are included in the dimensions */
    margin-bottom: 20; /* Add some space at the bottom */
}

